* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3f75b1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    border: 5px;
    padding: 10px;
    justify-content: center;
    border-style: solid;
    color: #626262;
    background-color: #dcdedf;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

header h1 {
    display: flex;
    font-size: 40px;
    padding-left: 15px;
}

.navbar  {
        margin-left: 40%;
}

.navbar a {
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
    font-size: 22px;
    color:#3f75b1;
    -webkit-text-stroke-color: #626262;
    -webkit-text-stroke-width: 1px;
}



header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.banner img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-bottom-width: 5px;
    border-style: solid;
    color: #626262;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main h2 {
    margin-left: 8%;
    margin-top: 20px;
    font-size: 35px;
}

main p {
    position: relative;
    padding-top: 10px;
    margin-left: 20%;
    font-size: 20px;
}

.sidebar {
    float: left;
    flex: 1;
    border: 5px #626262;
    border-right-style: solid;
    min-width: 150px;
    width: 200px;
    height: auto;
    margin-right: 30px;
    padding-top: 10px;
    background-color: #dcdedf;
    color: #3f75b1;
    
}

.headshot img {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 50%;
    margin: auto;
    height: auto;
    object-fit: contain;
    border: 3px #626262;
    border-style: solid;
    border-radius: 14px;
}
.sidebar h2 {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.sidebar p {
    font-size: 16px;
}

.sidebar a {
    color: #3f75b1;
}

.work {
    flex: 4;
    margin-top: 0px;
    padding: 20px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work img {
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
}

.maincontent {
    position: relative;
    text-align: center;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #626262;
    background-color: #626262;
    padding: 10px;
    margin-bottom: 5px;
}

.maincontent img {
    width: 100%;
    height: auto;
}

.content {
    position: relative;
    text-align: center;
    color: white;
    height: 450px;
    width: 450px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color:#626262;
    background-color: #626262;
    padding: 10px;
    margin-bottom: 5px;
}

.text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 58px;
    font-weight: bold;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    color: #3f75b1;
    text-align: left;
}

.content img {
    width: 100%;
    height: auto;
}

footer {
    border: 5px #626262;
    border-top-style: solid;
    background-color: #dcdedf;
    padding: 20px;
    text-align: center;
}

.icons {
    margin: 15px;
    padding: 15px;
  }

@media screen and (max-width: 992px) {
    .work {
      flex-direction: column;
    }
}
