* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #3f75b1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    border: 5px;
    padding: 10px;
    justify-content: center;
    border-style: solid;
    color: #626262;
    background-color: #dcdedf;
}

header h1 {
    display: flex;
    font-size: 40px;
    padding-left: 15px;
}

.navbar  {
        margin-left: 40%;
}

.navbar a {
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
}



header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.banner img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-style: solid;
    color: #626262;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main h2 {
    margin-left: 8%;
    margin-top: 20px;
    font-size: 35px;
}

main p {
    position: relative;
    padding-top: 10px;
    margin-left: 20%;
    font-size: 20px;
    
    
}

.sidebar {
    float: left;
    flex: 1;
    border: 5px #626262;
    border-right-style:solid;
    min-width: 150px;
    width: 200px;
    background-color: #dcdedf;
}


.sidebar h2 {
    text-align: left;
    
}

.aboutside {
    margin-bottom: 5px;
}

.workside {
    margin-bottom: 20px;
}

.contactside {
    margin-bottom: 200px;
}

.abouttext {
    padding-right: 20px;
    
}
.work {
    flex: 4;
    margin-top: 0px;
    padding: 20px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.maincontent {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    /* min-width: 500px; */
}

.content {
    height: 500px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    /* min-width: 500px; */
}
img {
    display: flex;
    margin: 0 auto;
}




footer {
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .work {
      flex-direction: column;
    }
}
